.container {
    width: min(100% - 3rem, 190ch);
    margin-inline: auto;
}

.background {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid var(--c-white2);
    background-color: var(--c-white1);
    z-index: 100;
}

.wrapper {
    composes: container;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    composes: title from './font.module.css';
    font-weight: 900;
    background-image: var(--c-gradient);
    background-clip: text;
    background-size: 300% 100%;
    -webkit-text-fill-color: transparent;
    animation: gradientTitle 8s linear infinite alternate;
}

@media (prefers-color-scheme: dark) {
    .background {
        border-bottom-color: var(--c-dark2);
        background-color: var(--c-dark1);
    }
}

@keyframes gradientTitle {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}