.title {
    composes: title from './font.module.css';
    width: fit-content;
    margin-block: 1rem;
    font-size: clamp(2rem, 4vw, 4rem);
    font-weight: 300;
}

.title:active {
    color: var(--c-blue1);
}

.excerpt {
    composes: paragraph from './font.module.css';
}

.sectionInfo {
    composes: excerpt;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: min(100% - 3rem, 70ch);
    margin-inline: auto;
}

.section {
    composes: container;
    margin-block-end: 1rem;
}

.header {
    composes: container;
}